@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: theme('colors.warmBg');
    font-family: system-ui, -apple-system, sans-serif;
    color: #1f2937;
}

/* Reglas especiales para imprimir el QR */
@media print {
  body * {
    visibility: hidden;
  }
  #print-area, #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    box-shadow: none !important;
    border: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}